body{
  z-index: 10;
}
header{
  width: 100%;
  background: #ffffff;
  height: 8vh;
  top: 0;
  left:0;
  line-height: 60px;
  border-bottom: 1px solid #dddddd;
  position: fixed;
  z-index: 100;
  background-color: purple;
}
.back{
  background:none;
  position:absolute;
  top:0;
  left:0;
 
  color:white;
  border:0;
  font-size:1em;
  line-height:50px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:white;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  /*background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;*/
  background:none;
  position:absolute;
  top:4;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:white;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
  z-index: 101;
  top: 8vh;
  font-weight: bold;
  font-size: 0.8em;
  width: 30vw;
  background: #f1f1f1;
  right: 0;
  position: absolute;
  text-align: center;
  font-size: 12px;
}
.menu ul {margin: 0; 
  padding: 0;
  list-style-type: none;
  list-style-image: none;}
.menu li {
  display: block; 
  padding:25px 0 25px 0; 
  border-bottom:#dddddd 1px solid;
}

.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}




a{color:#336699;}

